doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Add Product
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="../css/product.css")
    body
        include layout/header
        main
            form.product-form(action="/admin/add-product", method="POST")
                .form-control
                    label(for="title") Title
                    input(type="text", name="title", id="title")
                .form-control
                    label(for="price") Price
                    input(type="price", name="price", id="price")
                button(type="submit") Add Product
        include layout/footer
